<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Front Desk</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Front Desk - Create Reservation</h1>
  <form action="/create-reservation" method="POST">
    <label>Name: <input type="text" name="name" required></label><br>
    <label>Package Details: <input type="text" name="packageDetails" required></label><br>
    <button type="submit">Create Reservation</button>
  </form>
</body>
</html>
