<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation Form</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Make a Reservation</h1>
  <form action="/reserve" method="POST">
    <label>Name:</label>
    <input type="text" name="name" required>
    <label>Package Contents:</label>
    <input type="text" name="contents" required>
    <button type="submit">Reserve</button>
  </form>
</body>
</html>
